<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p><br>

<p>
  <strong>Birth date:</strong>
  <%= @user.birth_date %>
</p><br>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p><br>

<p>
  <strong>Image url:</strong>
  <%= @user.image_url %>
</p><br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
